<h1>Books</h1>
<% @books.each do |book| %>
  <%= link_to book_path(book.id) do %>
    <%= book.title %>
  <% end %>
<% end %>

<h1>New Book</h1>
<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>