<% if @new_book.errors.any? %>
  <%= pluralize(@new_book.errors.count, 'error') %> prohibited this obj from being saved:
  <ul>
    <% @new_book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'users/info', user: @user %>
<%= render 'new', newBook: @new_book %>
<%= render 'list', books: @books %>
