<h1>Book detail</h1>

<p>
  <%= link_to user_path(@book.user_id) do %>
    <%= @book.user.name %>
  <% end %>
</p>
<p><%= @book.title %></p>
<p><%= @book.body %></p>

<% if @book.user_id == current_user.id %>
  <%= link_to 'Destroy', book_path(@book), method: :delete, 'data-confirm' => '本当に消しますか？' %>
<% end %>